.formulario{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

.formulario input{
    flex:1;
    min-width:220px;
    padding:10px;
    border:1px solid #bbb;
    border-radius:6px;
}

.formulario button{
    background:#1c7c3a;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:orange;
    color: black;
}

th,
td{
    padding:12px;
    border:1px solid #ddd;
    text-align:left;
}

.editar{
    background:#f0ad4e;
    border:none;
    color:white;
    padding:8px 14px;
    margin-right:8px;
    border-radius:5px;
}

.excluir{
    background:#c9302c;
    border:none;
    color:white;
    padding:8px 14px;
    border-radius:5px;
}

tr:nth-child(even){
    background:#f7f7f7;
}