.container{

    max-width:1100px;

    margin:auto;

    padding:30px;

}

.card{

    background:white;

    padding:25px;

    border-radius:10px;

    margin-top:25px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);

}

.titulo{

    color:#17542b;

    margin-bottom:20px;

}